<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Controller</title>
</head>

<body>
<p>
<a href="javascript:void(0);" onclick="invoke('0')" style="display:inline-block"><h2>Synced </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('1')" style="display:inline-block"><h2>1/10s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('2')" style="display:inline-block"><h2>1/20s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('3')" style="display:inline-block"><h2>1/30s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('4')" style="display:inline-block"><h2>1/40s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('5')" style="display:inline-block"><h2>1/50s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('6')" style="display:inline-block"><h2>1/60s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('7')" style="display:inline-block"><h2>1/70s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('8')" style="display:inline-block"><h2>1/80s</h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('9')" style="display:inline-block"><h2>1/90s</h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t3')" style="display:inline-block"><h2> 3 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t4')" style="display:inline-block"><h2> 4 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t5')" style="display:inline-block"><h2> 5 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t6')" style="display:inline-block"><h2> 6 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t7')" style="display:inline-block"><h2> 7 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t8')" style="display:inline-block"><h2> 8 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t9')" style="display:inline-block"><h2> 9 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t10')" style="display:inline-block"><h2> 10 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t11')" style="display:inline-block"><h2> 11 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t12')" style="display:inline-block"><h2> 12 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t13')" style="display:inline-block"><h2> 13 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t14')" style="display:inline-block"><h2> 14 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t15')" style="display:inline-block"><h2> 15 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t16')" style="display:inline-block"><h2> 16 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t17')" style="display:inline-block"><h2> 17 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t18')" style="display:inline-block"><h2> 18 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t19')" style="display:inline-block"><h2> 19 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t20')" style="display:inline-block"><h2> 20 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t21')" style="display:inline-block"><h2> 21 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t22')" style="display:inline-block"><h2> 22 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t23')" style="display:inline-block"><h2> 23 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t24')" style="display:inline-block"><h2> 24 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t25')" style="display:inline-block"><h2> 25 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t26')" style="display:inline-block"><h2> 26 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t27')" style="display:inline-block"><h2> 27 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t28')" style="display:inline-block"><h2> 28 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t29')" style="display:inline-block"><h2> 29 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t30')" style="display:inline-block"><h2> 30 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t31')" style="display:inline-block"><h2> 31 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t32')" style="display:inline-block"><h2> 32 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t33')" style="display:inline-block"><h2> 33 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t34')" style="display:inline-block"><h2> 34 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t35')" style="display:inline-block"><h2> 35 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t36')" style="display:inline-block"><h2> 36 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t37')" style="display:inline-block"><h2> 37 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t38')" style="display:inline-block"><h2> 38 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t39')" style="display:inline-block"><h2> 39 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t40')" style="display:inline-block"><h2> 40 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t41')" style="display:inline-block"><h2> 41 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t42')" style="display:inline-block"><h2> 42 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t43')" style="display:inline-block"><h2> 43 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t44')" style="display:inline-block"><h2> 44 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t45')" style="display:inline-block"><h2> 45 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t46')" style="display:inline-block"><h2> 46 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t47')" style="display:inline-block"><h2> 47 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t48')" style="display:inline-block"><h2> 48 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t49')" style="display:inline-block"><h2> 49 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t50')" style="display:inline-block"><h2> 50 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t51')" style="display:inline-block"><h2> 51 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t52')" style="display:inline-block"><h2> 52 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t53')" style="display:inline-block"><h2> 53 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t54')" style="display:inline-block"><h2> 54 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t55')" style="display:inline-block"><h2> 55 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t56')" style="display:inline-block"><h2> 56 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t57')" style="display:inline-block"><h2> 57 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t58')" style="display:inline-block"><h2> 58 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t59')" style="display:inline-block"><h2> 59 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t60')" style="display:inline-block"><h2> 60 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t61')" style="display:inline-block"><h2> 61 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t62')" style="display:inline-block"><h2> 62 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t63')" style="display:inline-block"><h2> 63 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t64')" style="display:inline-block"><h2> 64 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t65')" style="display:inline-block"><h2> 65 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t66')" style="display:inline-block"><h2> 66 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t67')" style="display:inline-block"><h2> 67 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t68')" style="display:inline-block"><h2> 68 </h2></a>
</p>

<p><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t69')" style="display:inline-block"><h2> 69 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t70')" style="display:inline-block"><h2> 70 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t71')" style="display:inline-block"><h2> 71 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t72')" style="display:inline-block"><h2> 72 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t73')" style="display:inline-block"><h2> 73 </h2></a><a style="display:inline-block"><h2>   -   </h2></a>
<a href="javascript:void(0);" onclick="invoke('t74')" style="display:inline-block"><h2> 74 </h2></a>
</p>
</body>

<script>
    function invoke(data) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.open('GET', './capture/' + data, true);
        httpRequest.send();
    }
</script>
</html>